
# source / large dirs we don't need in image
src/
.git

# compiled classes, IDE files
**/*.class
*.iml

# keep the built JAR available for the Docker build
target/*
!target/*.jar
src/
.git
**/*.class


